.bt-add-chromebook{
    margin-bottom: 20px;
    width: 160px;
    height: 40px;
    color: white;
    border-radius: 5px;
    background-color:  #289fd2;
}
.bt-add-chromebook:hover{
    background-color: #0470aa;
}