.modalBackground{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all .5s;
    background-color: rgb(199, 199, 199);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.modalContainer{
    width: 500px;
    height: 250px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0 , 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modalContainer .bt-close{
    background-color: transparent;
    font-size: 20px;
    border: none;
    width: 20px;
}
.bt-cancel, .bt-continue{
    color: black;
    margin: 10px;
    width: 100px;
    border-radius: 50px;
    height: 30px;
    text-align: center;
}
.bt-continue{
    background-color: rgb(255, 57, 96);
    color: rgb(235, 238, 241);
}
.bt-cancel:hover{
    background-color:darkgray;
}
.bt-continue:hover{
    background-color: crimson;
}
.body-modal-delete h3{
    margin-bottom: 25px;
    margin-top: 10px;
}
.body-modal-delete{
    text-align: center;
}
