.container-cards{
    width: 100%;
    display: grid;
}
.container-cards-computer{
    display: grid;
    grid-template-columns: repeat(5, 2fr)!important;
}
.tables-type-computer-body{
    background-color: white;
    padding: 20px;
}
.body-computers{
    margin-top: 40px;
}
.tittle-header-modal-computer{
    text-align: left;
}
@media (max-width: 868px) {
    .container-cards-computer{
      grid-template-columns: repeat(2, 1fr)!important;
    }
}
@media (max-width: 1461px){
    .container-cards-computer{
        grid-template-columns: repeat(3, 1fr)!important;
      }
}
@media (max-width: 1800px){
    .container-cards-computer{
        grid-template-columns: repeat(4, 1fr)!important;
    }
}
  
@media (max-width: 480px) {
    .container-cards-computer{
        grid-template-columns: 1fr !important;
    }
}
.container-control-computer-principal{
    display: flex;
    justify-content: right;
}