.container-cards{
    width: 100%;
    display: grid;
}
.container-cards-computer{
    display: grid;
    grid-template-columns: repeat(5, 2fr)!important;
}
@media (max-width: 868px) {
    .container-cards-computer{
      grid-template-columns: repeat(2, 1fr)!important;
    }
}
@media (max-width: 1461px){
    .container-cards-computer{
        grid-template-columns: repeat(3, 1fr)!important;
      }
}
@media (max-width: 1800px){
    .container-cards-computer{
        grid-template-columns: repeat(4, 1fr)!important;
    }
}
  
@media (max-width: 480px) {
    .container-cards-computer{
        grid-template-columns: 1fr !important;
    }
}