.modalBackground-add{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    top: 0;
    left: 0;
    top: 0;
    left: 0;
    transition: all .5s;
    background-color: rgb(199, 199, 199);
    position:fixed;    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.modalContainer-add{
    width: 500px;
    height: 430px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0 , 0.35) 0px 5px 15px;
    display: table !important ;
    flex-direction: column;
    padding: 25px;
}
.container-control-user{
    height: 350px;
    display: 'flex';
    flex-direction: 'column';
     gap: '2px' 
}
.container-control-user Box{
    margin: 20px;
}
.icon-show-password:hover{
    cursor: pointer !important;
}
.container-button-icon-sp{
    justify-content: left !important;
    padding: 0px 0px 0px 0px !important;
    /* width: 10px; */
    text-align: left !important;
    /* background-color: transparent !important; */
}
.fieldRequired-add-user{
    color: tomato;
}
/* .body-add input{
    border-color: transparent;
    text-align: left;
    margin: 20px 0px 0px 0px;
    width: 280px;
}
.body-add input:invalid{
    color: tomato;
}
.body-add input:valid + .icon-check{
    visibility: visible;
}
.body-add h4{
    margin: 20px 20px 0px 30px;
    justify-content: center;
    font-size: 15px;
    width: 80px;
}
.body-add hr{
    text-align: right !important ;
    margin: 0px;
    width: 300px;
    margin-left: 120px;
}
.body-add .hr-select-add{
    width: 30%;
    margin-bottom: 20px;
} */
.footer-add{
    text-align: center;
}
.textResult{
    text-align: center;
    width: 450px;
    height: 30px;
    margin-top: 10px;
    color: rgb(148, 219, 40);
}
.icon-check{
    margin-top: 20px;
    width: 10px;
    height: 10px;
    color: greenyellow;
    visibility: hidden;
}