.accordion-header-inventory{
    width: 100%;
    text-align: center;
    height: 1% !important;
    justify-content: center;
    background-color: #289fd2 !important;
    border-radius: 5px;
    
}
.tittle-accordion-body{
    font-size: 130%;
    color: gray;
}
.accordion-button{
    background-color: transparent !important;
    color: aliceblue;
    font-size: 60%;
    margin-bottom: 0.9%;
}
.accordion-body{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1.5%;
    margin-bottom: 2%;
}