.tab-content-inventory{
    width: 500px;
}
.bt-add-tools{
    margin-bottom: 20px;
    width: 160px;
    height: 40px;
    color: white;
    border-radius: 5px;
    background-color:  #289fd2;
}
.bt-add-tools:hover{
    background-color: #0470aa;
}